## Words

In [26]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [52]:
words2 = []
for i in words:
    words2.append(i.upper())
print(words2)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [38]:
words_5 = []
for i in words:
    if len(i) >= 5:
        words_5.append(i)
print(words_5)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [40]:
for i in words:
    if i[0] == 't':
        print(i)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [51]:
lst_num1 = []

for i in range(0, 11):
    lst_num1.append(i**2)
print(lst_num1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [67]:
lst_odd = []
other = []
for i in range(1, 11):
    other.append(i**2)
for e in other:
    if e % 2 != 0:
        lst_odd.append(e)
print(lst_odd)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [68]:
lst_3 = []
for i in range(0, 1000):
    if i % 8 == 0:
        lst_3.append(i)
print(lst_3)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

## People

In [111]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "LucÃ­a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [76]:
len(people)

5

**How many people have kids**?

In [86]:
kids = 0
for i in people:
    if i["n_kids"] > 0 : 
        kids += 1
print(kids)

4

**How many kids do they have in total?**

In [89]:

total_kids = 0
for i in people:
    total_kids = i["n_kids"] + total_kids
print(total_kids)

10

In [92]:
x = people[1]
x

{'name': 'Pepe', 'age': 27, 'n_kids': 0}

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [112]:
total_kids2 = people.copy()
for i in total_kids2:
    if i["name"][-1] == "a":
          i["n_kids"] += 1

In [113]:
total_kids3 = people.copy()
for i in total_kids3:
    if i["name"].endswith("a"):
        i["n_kids"] += 1

In [114]:
total_kids2 == total_kids3

True