## Words

In [6]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
print(words)

['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']

**Print every word in upper case**

In [26]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
words_upper = []
for i in words:
    words_upper.append(i.upper())
print(words_upper)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

6

**Create a new list containing only words with 5 or more letters**

In [30]:
words_more_than_five = []
for i in words_upper:
    if len(i) >= 5:
        words_more_than_five.append(i)
print(words_more_than_five)

['FILLING', 'THEATRE', 'EASYGOING', 'STORY', 'ISLAND']

**Print the first word starting with "t"**

In [46]:
words_starting_t = []
for i in words_more_than_five:
    if i.startswith("T"):
        words_starting_t.append(i)
print(words_starting_t)

['THEATRE']

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [54]:
square = []
for i in range (1,11):
    square.append(i**2)
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [58]:
square_odd = []
for i in range (1,11):
    if i % 2 != 0:
        square_odd.append(i**2)
square_odd

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [77]:
multiplies_eight = []
n = 1
for i in range (1,1000,8):
    multiplies_eight.append(n * 8) 
    n += 1
print(multiplies_eight)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000]

## People

In [184]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [83]:
len(people)

5


**How many people have kids**?

In [143]:
count = 0
for i in people:
    if (i["n_kids"])>0:
        count += 1
print(count)

4

 **How many kids do they have in total?**

In [148]:
sum(i['n_kids'] for i in people)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [185]:
people_2024 = []
for i in people:
    if (i["name"]).endswith('a'):
        (i["n_kids"]) += 1
        people_2024.append(i)
        
print(people_2024)

[{'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}]