## Words

In [87]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [88]:
# your code here

words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

for i in words:
    print(i.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [89]:
# your code here

new_list_5 = []

for i in words:
    if len(i) >= 5:
        new_list_5.append(i)

print("List with words of more than 5 words:",new_list_5)

List with words of more than 5 words: ['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [90]:
# your code here

#while i.startswith("t") in words:
   # i
count = 0
for i in words:
    if i.startswith("t") and count < 1:
        count += 1
        print(i)

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [91]:
# your code here

list = []

for i in range(10):
    list.append(i*i)
    
list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Print a list containing the square of every odd number from 1 to 10**

In [92]:
# your code here

list_odd = []

for i in range(10):
    if i%2 != 0:
        list_odd.append(i*i)
        
print(f"New odd list: {list_odd}")

New odd list: [1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [93]:
# your code here

list_multiples_8 = []

for i in range(1,1000):
    if i % 8 == 0:
        list_multiples_8.append(i*i)
print(list_multiples_8)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [94]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

print(people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'Lucía', 'age': 22, 'n_kids': 2}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

**How many people are there?**

In [95]:
# your code here

count = 0

for value in people:
    count += 1
    
print(f"There is {count} people")

There is 5 people

In [96]:
print(people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'Lucía', 'age': 22, 'n_kids': 2}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

**How many people have kids**?

In [97]:
# your code here
kids_people = 0
for i in people:
    if i ['n_kids']>0:
        kids_people +=1
print(kids_people)

4

**How many kids do they have in total?**

In [98]:
# your code here

kids_count = 0

for i in people:
        kids_count += i ['n_kids']

print("Number of kids", kids_count)

Number of kids 10

In [99]:
print(people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'Lucía', 'age': 22, 'n_kids': 2}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [100]:
# your code here

for i in people:
    if i ["name"][-1] == "a":
        i ["n_kids"] += 1

print(people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]