## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [4]:
# your code here
words_u = [i.upper() for i in words]
print(words_u)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [11]:
# your code here
new_list = []
for i in words:
    if len(i) >= 5:
        new_list.append(i)
        
new_list

['filling', 'theatre', 'easygoing', 'story', 'island']

In [13]:
new_list2 = [i for i in words if len(i) >=5]
new_list2

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [19]:
# your code here
for i in words:
    if i.startswith("t"):
        print(i)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [31]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [25]:
# your code here
import math
square_list = []
for i in range(0, 11):
    square_list.append(i**2)

print(square_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
# your code here
import math
square_list = []
for i in range(0, 11):
    square_list.append(int(math.pow(i,2)))

print(square_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [35]:
# your code here
odd_number = []
for i in range(1, 11, 2):
    odd_number.append(i**2)

print(odd_number)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [37]:
# your code here
below_list = [i ** 2 for i in range(8, 1000, 8)]
below_list

[64,
 256,
 576,
 1024,
 1600,
 2304,
 3136,
 4096,
 5184,
 6400,
 7744,
 9216,
 10816,
 12544,
 14400,
 16384,
 18496,
 20736,
 23104,
 25600,
 28224,
 30976,
 33856,
 36864,
 40000,
 43264,
 46656,
 50176,
 53824,
 57600,
 61504,
 65536,
 69696,
 73984,
 78400,
 82944,
 87616,
 92416,
 97344,
 102400,
 107584,
 112896,
 118336,
 123904,
 129600,
 135424,
 141376,
 147456,
 153664,
 160000,
 166464,
 173056,
 179776,
 186624,
 193600,
 200704,
 207936,
 215296,
 222784,
 230400,
 238144,
 246016,
 254016,
 262144,
 270400,
 278784,
 287296,
 295936,
 304704,
 313600,
 322624,
 331776,
 341056,
 350464,
 360000,
 369664,
 379456,
 389376,
 399424,
 409600,
 419904,
 430336,
 440896,
 451584,
 462400,
 473344,
 484416,
 495616,
 506944,
 518400,
 529984,
 541696,
 553536,
 565504,
 577600,
 589824,
 602176,
 614656,
 627264,
 640000,
 652864,
 665856,
 678976,
 692224,
 705600,
 719104,
 732736,
 746496,
 760384,
 774400,
 788544,
 802816,
 817216,
 831744,
 846400,
 861184,
 876096,
 891136,
 906304,
 921600,
 937024,
 952576,
 968256,
 984064]

## People

In [79]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [44]:
# your code here
len(people)

5

**How many people have kids**?

In [51]:
# your code here
with_kids = 0 
for i in people:
    if i["n_kids"] > 0:
    
      with_kids += 1
    
print(with_kids)

4

**How many kids do they have in total?**

In [52]:
# your code here

total_kids = 0
for i in people:
    total_kids += i["n_kids"]
print(total_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [80]:
# your code here

for i in people:
    if i["name"][-1] == "a":
        i["n_kids"] += 1
    else:
        pass
    
extra_kid = [i for i in people]
extra_kid

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 2},
 {'name': 'Lucía', 'age': 22, 'n_kids': 3},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]